/* Lenis */
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}
/* Lenis */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

body.html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: General_Sans;
    src: url(Fonts/General_Sans.ttf);
}

:root {
    /* Colors */
    --Orange: #f76a1a;
    --Black: #111111;
    --White: #f6f9fc;
    --Gray: #9a9a9a;
    --Light_Gray: #edeef2;
    --Blue: #2c1af7;

    /* Fonts */
    --General_Sans: General_Sans, Arial, Helvetica, sans-serif;
}

nav {
    background-color: coral;
}
