/* Lenis */
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}
/* Lenis */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow: hidden auto;

    background-color: var(--White);
}

@font-face {
    font-family: General_Sans;
    src: url(Fonts/General_Sans.ttf);
}
@font-face {
    font-family: Inter;
    src: url(Fonts/Inter.ttf);
}

:root {
    /* Colors */
    --Orange: #f87d36;
    --Black: #111111;
    --White: #f8f8f8;
    --Gray: #808080;
    --Light_Gray: #f0f0f0;
    --Blue: #594afd;
    --Green: #0b9965;

    /* Fonts */
    --General_Sans: General_Sans, Arial, Helvetica, sans-serif;
    --Inter: Inter, Arial, Helvetica, sans-serif;

    /* Others */
    --Max_Width: min(100em, 100%);
    --Main_Width: 95%;
    --Transition_Time: 300ms;
}

.clicked_scale:active {
    scale: 0.95;
}

.orange_text {
    color: var(--Orange);
}

.gray_text {
    color: var(--Gray);
}

.orange_btn {
    background-color: var(--Orange);
    border: solid 0.01em var(--Orange);
    color: var(--White);
    font-family: var(--Inter);
    transition-property: background-color, color;
    transition-duration: var(--Transition_Time);
}

.orange_btn:hover {
    background-color: var(--White);
    color: var(--Black);
}

.learn_more_link {
    display: flex;
    align-items: top;
    justify-content: center;
    gap: 0.2em;
}

.learn_more_link p {
    font-family: var(--Inter);
    font-weight: 600;
    font-size: 1em;
    color: var(--Black);
}

.learn_more_link svg {
    height: 1.5em;
    fill: var(--Black);
    transition: transform var(--Transition_Time);
}

.learn_more_link:hover svg {
    transform: rotate(180deg);
}

.user_profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.user_image {
    height: 3em;
    aspect-ratio: 1 / 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    outline: solid 0.15em var(--Orange);
}

.user_detail h5 {
    font-family: var(--Inter);
    font-size: 1em;
    font-weight: 600;
    color: var(--Black);
}

.user_detail p {
    font-family: var(--Inter);
    font-size: 0.8em;
    font-weight: 400;
    color: var(--Black);
}

nav {
    background-color: var(--White);
    z-index: 9;
    position: fixed;
    inset: 0 0 auto 0;
}

.navigation {
    width: var(--Main_Width);
    padding-block: 0.5em;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 0.01em var(--Light_Gray);
}

.nav_logo svg {
    fill: var(--Black);
    height: 1.5em;
}

.nav_links_container,
.nav_right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_links_container {
    gap: 2em;
}
.nav_right {
    gap: 1em;
}

.nav_link {
    font-family: var(--General_Sans);
    font-size: 1em;
    font-weight: 500;
    color: var(--Black);
    transition: color var(--Transition_Time);
}

.nav_link:hover:not(#link_active),
.menu_container a:hover:not(#link_active) {
    color: var(--Orange);
}

.cart_div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1em;
    cursor: pointer;
}

.cart_div svg {
    fill: var(--Black);
    height: 1.5em;
    transition: rotate var(--Transition_Time);
}

.cart_div:hover svg {
    rotate: -10deg;
}

.nav_btn {
    padding: 0.6em 1em;
    border-radius: 9em;
    transition-property: background-color, color;
    transition-duration: var(--Transition_Time);
}

.log_in {
    font-family: var(--General_Sans);
    font-weight: 500;
    color: var(--Black);
}

.log_in:hover {
    background-color: var(--Light_Gray);
}

.sign_up {
    background-color: var(--Black);
    font-family: var(--General_Sans);
    font-weight: 500;
    color: var(--White);
}

.sign_up:hover {
    background-color: var(--Orange);
    color: var(--White);
}

.hamburger_btn {
    cursor: pointer;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
    padding: 0.3em;
}

.hamburger_line {
    width: 1.8em;
    height: 0.15em;
    border-radius: 9em;
    background-color: var(--Black);
}

.menu {
    position: fixed;
    z-index: 5;
    overflow: hidden auto;
    inset: 0;
    transform: translateY(-100%);
    background-color: var(--White);
}

.menu_container {
    border-radius: 1em;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5em;
}

.menu_container a {
    width: 95%;
    text-align: center;
    padding-block: 1.8em;
    font-family: var(--Inter);
    font-weight: 500;
    font-size: 1em;
    color: var(--Black);
    transition: color var(--Transition_Time);
}

@media (width > 1000px) {
    .menu {
        display: none;
    }
}

@media (width < 1000px) {
    .user_image {
        height: 2.7em;
    }

    .navigation {
        padding-block: 1em;
    }

    .nav_links_container,
    .nav_btn {
        display: none;
    }

    .hamburger_btn {
        display: flex;
    }
}

@media (width < 500px) {
    .nav_logo svg {
        height: 1.2em;
    }
}
